In [224]:
# import library
import pandas as pd
import numpy as np
import plotly.graph_objects as go
import plotly.express as px
from datetime import datetime
import streamlit as st

In [225]:
# define functions

# load data
df_vid = pd.read_csv('resource/Video_Performance_Over_Time.csv')

# dropping row Total to avoid issue with calculations
df_agg = pd.read_csv('resource/Aggregated_Metrics_By_Video.csv').iloc[1:,:]

df_agg_sub = pd.read_csv('resource/Aggregated_Metrics_By_Country_And_Subscriber_Status.csv')

df_com = pd.read_csv('resource/All_Comments_Final.csv')

In [226]:
# clean our data

In [227]:
# converting all columns to uppercase
for df in [df_agg,df_vid,df_agg_sub, df_com]:
    df.columns = df.columns.str.upper()

In [228]:
# checking
df_com.columns

Index(['COMMENTS', 'COMMENT_ID', 'REPLY_COUNT', 'LIKE_COUNT', 'DATE', 'VIDID',
       'USER_ID'],
      dtype='object')

In [229]:
df_agg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223 entries, 1 to 223
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   VIDEO                                 223 non-null    object
 1   VIDEO TITLE                           223 non-null    object
 2   VIDEO PUBÂ­LISH TIME                   223 non-null    object
 3   COMÂ­MENTS ADÂ­DED                      223 non-null    int64
 4   SHARES                                223 non-null    int64
 5   DISÂ­LIKES                             223 non-null    int64
 6   LIKES                                 223 non-null    int64
 7   SUBÂ­SCRIBERS LOST                     223 non-null    int64
 8   SUBÂ­SCRIBERS GAINED                   223 non-null    int64
 9   RPM (USD)                             223 non-null    float64
 10  CPM (USD)                             221 non-null    float64
 11  AVÂ­ERÂ­AGE PERÂ­CENTÂ­AGE VIEWED (%)     223 non-null    float64
 12  AVÂ­ERÂ­AGE VIEW DURÂ­AÂ­TION             223 non-null    object
 13  VIEWS                                 223 non-null    int64
 14  WATCH TIME (HOURS)                    223 non-null    float64
 15  SUBÂ­SCRIBERS                          223 non-null    int64
 16  YOUR ESÂ­TIMÂ­ATED REVÂ­ENÂ­UE (USD)      223 non-null    float64
 17  IMÂ­PRESÂ­SIONS                         223 non-null    int64
 18  IMÂ­PRESÂ­SIONS CLICK-THROUGH RATE (%)  223 non-null    float64
dtypes: float64(6), int64(9), object(4)
memory usage: 33.2+ KB

In [230]:
df_agg.head(1)

,VIDEO,VIDEO TITLE,VIDEO PUBÂ­LISH TIME,COMÂ­MENTS ADÂ­DED,SHARES,DISÂ­LIKES,LIKES,SUBÂ­SCRIBERS LOST,SUBÂ­SCRIBERS GAINED,RPM (USD),CPM (USD),AVÂ­ERÂ­AGE PERÂ­CENTÂ­AGE VIEWED (%),AVÂ­ERÂ­AGE VIEW DURÂ­AÂ­TION,VIEWS,WATCH TIME (HOURS),SUBÂ­SCRIBERS,YOUR ESÂ­TIMÂ­ATED REVÂ­ENÂ­UE (USD),IMÂ­PRESÂ­SIONS,IMÂ­PRESÂ­SIONS CLICK-THROUGH RATE (%)
1,4OZip0cgOho,How I Would Learn Data Science (If I Had to St...,"May 8, 2020",907,9583,942,46903,451,46904,6.353,12.835,36.65,0:03:09,1253559,65850.7042,46453,7959.533,26498799,3.14

In [231]:
# checking columns
df_agg.columns.tolist() # notice \xad in our columns

['VIDEO',
 'VIDEO TITLE',
 'VIDEO PUB\xadLISH TIME',
 'COM\xadMENTS AD\xadDED',
 'SHARES',
 'DIS\xadLIKES',
 'LIKES',
 'SUB\xadSCRIBERS LOST',
 'SUB\xadSCRIBERS GAINED',
 'RPM (USD)',
 'CPM (USD)',
 'AV\xadER\xadAGE PER\xadCENT\xadAGE VIEWED (%)',
 'AV\xadER\xadAGE VIEW DUR\xadA\xadTION',
 'VIEWS',
 'WATCH TIME (HOURS)',
 'SUB\xadSCRIBERS',
 'YOUR ES\xadTIM\xadATED REV\xadEN\xadUE (USD)',
 'IM\xadPRES\xadSIONS',
 'IM\xadPRES\xadSIONS CLICK-THROUGH RATE (%)']

In [232]:
# remove \xad
df_agg.columns = df_agg.columns.str.replace('\xad','')

In [233]:
# check 
df_agg.columns.tolist()

['VIDEO',
 'VIDEO TITLE',
 'VIDEO PUBLISH TIME',
 'COMMENTS ADDED',
 'SHARES',
 'DISLIKES',
 'LIKES',
 'SUBSCRIBERS LOST',
 'SUBSCRIBERS GAINED',
 'RPM (USD)',
 'CPM (USD)',
 'AVERAGE PERCENTAGE VIEWED (%)',
 'AVERAGE VIEW DURATION',
 'VIEWS',
 'WATCH TIME (HOURS)',
 'SUBSCRIBERS',
 'YOUR ESTIMATED REVENUE (USD)',
 'IMPRESSIONS',
 'IMPRESSIONS CLICK-THROUGH RATE (%)']

In [234]:
# convert date to datetype

df_agg['VIDEO PUBLISH TIME'] = pd.to_datetime(df_agg['VIDEO PUBLISH TIME'], format='mixed')

In [235]:
df_agg['VIDEO PUBLISH TIME'].dtype #datetime dtype

dtype('<M8[ns]')

In [236]:
# AVERAGE VIEW DURATION is an object meaning it contains numbers and string
df_agg['AVERAGE VIEW DURATION'][9] # a string

'0:04:56'

In [237]:
df_agg['AVERAGE VIEW DURATION'] = df_agg['AVERAGE VIEW DURATION'].apply(lambda x: datetime.strptime(x, '%H:%M:%S'))

In [238]:
# check
df_agg['AVERAGE VIEW DURATION'][9]

Timestamp('1900-01-01 00:04:56')

In [239]:
# create new column for df_agg['AVERAGE VIEW SECONDS'
df_agg['AVERAGE VIEW SECONDS'] = df_agg['AVERAGE VIEW DURATION'].apply(lambda x: x.second + x.minute * 60 + x.hour * 60 * 60)

In [240]:
# check
df_agg['AVERAGE VIEW SECONDS'][9]

296

In [241]:
df_agg.head(1)

,VIDEO,VIDEO TITLE,VIDEO PUBLISH TIME,COMMENTS ADDED,SHARES,DISLIKES,LIKES,SUBSCRIBERS LOST,SUBSCRIBERS GAINED,RPM (USD),CPM (USD),AVERAGE PERCENTAGE VIEWED (%),AVERAGE VIEW DURATION,VIEWS,WATCH TIME (HOURS),SUBSCRIBERS,YOUR ESTIMATED REVENUE (USD),IMPRESSIONS,IMPRESSIONS CLICK-THROUGH RATE (%),AVERAGE VIEW SECONDS
1,4OZip0cgOho,How I Would Learn Data Science (If I Had to St...,2020-05-08,907,9583,942,46903,451,46904,6.353,12.835,36.65,1900-01-01 00:03:09,1253559,65850.7042,46453,7959.533,26498799,3.14,189

In [242]:
df_agg.info() # our data type is corrected

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223 entries, 1 to 223
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   VIDEO                               223 non-null    object
 1   VIDEO TITLE                         223 non-null    object
 2   VIDEO PUBLISH TIME                  223 non-null    datetime64[ns]
 3   COMMENTS ADDED                      223 non-null    int64
 4   SHARES                              223 non-null    int64
 5   DISLIKES                            223 non-null    int64
 6   LIKES                               223 non-null    int64
 7   SUBSCRIBERS LOST                    223 non-null    int64
 8   SUBSCRIBERS GAINED                  223 non-null    int64
 9   RPM (USD)                           223 non-null    float64
 10  CPM (USD)                           221 non-null    float64
 11  AVERAGE PERCENTAGE VIEWED (%)       223 non-null    float64
 12  AVERAGE VIEW DURATION               223 non-null    datetime64[ns]
 13  VIEWS                               223 non-null    int64
 14  WATCH TIME (HOURS)                  223 non-null    float64
 15  SUBSCRIBERS                         223 non-null    int64
 16  YOUR ESTIMATED REVENUE (USD)        223 non-null    float64
 17  IMPRESSIONS                         223 non-null    int64
 18  IMPRESSIONS CLICK-THROUGH RATE (%)  223 non-null    float64
 19  AVERAGE VIEW SECONDS                223 non-null    int64
dtypes: datetime64[ns](2), float64(6), int64(10), object(2)
memory usage: 35.0+ KB

In [243]:
# engagement ration, every engagement a view could do divided by the number of viewrs
df_agg['ENGAGEMENT RATIO'] = (df_agg['SHARES'] + df_agg['LIKES'] + df_agg['DISLIKES'] + df_agg['COMMENTS ADDED']) / df_agg['VIEWS'] 

# ratio of views to subscribers gained
df_agg['VIEW TO SUBSCRIBER RATIO'] = df_agg['VIEWS'] / df_agg['SUBSCRIBERS GAINED'] # how views does it take to gain a subscriber

# ratio of views to subscribers lost, 
df_agg['VIEW TO SUBSCRIBER LOST RATIO'] = df_agg['VIEWS'] / df_agg['SUBSCRIBERS LOST'] # how views does it take to lose a subscriber

In [244]:
df_agg.head(1)

,VIDEO,VIDEO TITLE,VIDEO PUBLISH TIME,COMMENTS ADDED,SHARES,DISLIKES,LIKES,SUBSCRIBERS LOST,SUBSCRIBERS GAINED,RPM (USD),...,VIEWS,WATCH TIME (HOURS),SUBSCRIBERS,YOUR ESTIMATED REVENUE (USD),IMPRESSIONS,IMPRESSIONS CLICK-THROUGH RATE (%),AVERAGE VIEW SECONDS,ENGAGEMENT RATIO,VIEW TO SUBSCRIBER RATIO,VIEW TO SUBSCRIBER LOST RATIO
1,4OZip0cgOho,How I Would Learn Data Science (If I Had to St...,2020-05-08,907,9583,942,46903,451,46904,6.353,...,1253559,65850.7042,46453,7959.533,26498799,3.14,189,0.046536,26.726057,2779.509978

In [278]:
# sort data by 'VIDEO PUBLISH TIME'
df_agg.sort_values(by = 'VIDEO PUBLISH TIME', ascending=False, inplace=True)

In [279]:
df_agg.head(2)

,VIDEO,VIDEO TITLE,VIDEO PUBLISH TIME,COMMENTS ADDED,SHARES,DISLIKES,LIKES,SUBSCRIBERS LOST,SUBSCRIBERS GAINED,RPM (USD),...,VIEWS,WATCH TIME (HOURS),SUBSCRIBERS,YOUR ESTIMATED REVENUE (USD),IMPRESSIONS,IMPRESSIONS CLICK-THROUGH RATE (%),AVERAGE VIEW SECONDS,ENGAGEMENT RATIO,VIEW TO SUBSCRIBER RATIO,VIEW TO SUBSCRIBER LOST RATIO
111,0jTtHYie3CU,Should You Be Excited About Web 3? (As a Data ...,2022-01-17,37,43,8,267,14,18,4.055,...,4383,192.5779,4,16.549,65130,2.95,158,0.080995,243.5,313.071429
187,2RWwN5ZT4tA,Should @Luke Barousse Take This Data Analyst ...,2022-01-14,12,2,3,78,1,1,1.882,...,2401,25.9375,0,1.720,25094,2.64,38,0.039567,2401.0,2401.000000

In [280]:
df_vid.head(1)

,DATE,VIDEO TITLE,EXTERNAL VIDEO ID,VIDEO LENGTH,THUMBNAIL LINK,VIEWS,VIDEO LIKES ADDED,VIDEO DISLIKES ADDED,VIDEO LIKES REMOVED,USER SUBSCRIPTIONS ADDED,USER SUBSCRIPTIONS REMOVED,AVERAGE VIEW PERCENTAGE,AVERAGE WATCH TIME,USER COMMENTS ADDED
0,19 Jan 2022,Kaggle Project From Scratch - Part 2 (Explorat...,KQ80oD_boBM,2191,https://i.ytimg.com/vi/KQ80oD_boBM/hqdefault.jpg,13,0,0,0,0,0,0.069055,151.300154,0

In [288]:
# CONVERTING DATE to datetime
df_vid['DATE'] = pd.to_datetime(df_vid['DATE'], format='mixed')

In [290]:
df_agg_sub.head(1)

,VIDEO TITLE,EXTERNAL VIDEO ID,VIDEO LENGTH,THUMBNAIL LINK,COUNTRY CODE,IS SUBSCRIBED,VIEWS,VIDEO LIKES ADDED,VIDEO DISLIKES ADDED,VIDEO LIKES REMOVED,USER SUBSCRIPTIONS ADDED,USER SUBSCRIPTIONS REMOVED,AVERAGE VIEW PERCENTAGE,AVERAGE WATCH TIME,USER COMMENTS ADDED
0,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,HK,True,23,1,0,0,2,0,0.67187,39.640348,0

In [291]:
df_com.head(1)

,COMMENTS,COMMENT_ID,REPLY_COUNT,LIKE_COUNT,DATE,VIDID,USER_ID
0,Thanks for this video Ken.\n\nI decided to go ...,UgxFZTIzC4UPyhhX_PZ4AaABAg,0,0,2022-01-22T08:13:29Z,xpIFS6jZbe8,user_981

In [292]:
df_com.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10240 entries, 0 to 10239
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   COMMENTS     10239 non-null  object
 1   COMMENT_ID   10240 non-null  object
 2   REPLY_COUNT  10240 non-null  int64
 3   LIKE_COUNT   10240 non-null  int64
 4   DATE         10240 non-null  object
 5   VIDID        10240 non-null  object
 6   USER_ID      10240 non-null  object
dtypes: int64(2), object(5)
memory usage: 560.1+ KB

In [296]:
df_com['DATE'] = pd.to_datetime(df_com['DATE'])

In [300]:
df_com.head(1)

,COMMENTS,COMMENT_ID,REPLY_COUNT,LIKE_COUNT,DATE,VIDID,USER_ID
0,Thanks for this video Ken.\n\nI decided to go ...,UgxFZTIzC4UPyhhX_PZ4AaABAg,0,0,2022-01-22 08:13:29+00:00,xpIFS6jZbe8,user_981

In [299]:
df_com.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10240 entries, 0 to 10239
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   COMMENTS     10239 non-null  object
 1   COMMENT_ID   10240 non-null  object
 2   REPLY_COUNT  10240 non-null  int64
 3   LIKE_COUNT   10240 non-null  int64
 4   DATE         10240 non-null  datetime64[ns, UTC]
 5   VIDID        10240 non-null  object
 6   USER_ID      10240 non-null  object
dtypes: datetime64[ns, UTC](1), int64(2), object(4)
memory usage: 560.1+ KB

In [256]:
# engineer data
## what metrics wil be relevant
## difference from baseline
## percent change

# build dashboard
## local picture
## individual video

# improvement

In [304]:
def load_data():

    # load data
    df_vid = pd.read_csv('resource/Video_Performance_Over_Time.csv')

    # dropping row Total to avoid issue with calculations
    df_agg = pd.read_csv('resource/Aggregated_Metrics_By_Video.csv').iloc[1:,:]

    df_agg_sub = pd.read_csv('resource/Aggregated_Metrics_By_Country_And_Subscriber_Status.csv')

    df_com = pd.read_csv('resource/All_Comments_Final.csv')

    # converting all columns to uppercase
    for df in [df_agg,df_vid,df_agg_sub, df_com]:
        df.columns = df.columns.str.upper()
        
    # remove \xad
    df_agg.columns = df_agg.columns.str.replace('\xad','')
    # convert date to datetype

    df_agg['VIDEO PUBLISH TIME'] = pd.to_datetime(df_agg['VIDEO PUBLISH TIME'], format='mixed')

    df_agg['AVERAGE VIEW DURATION'] = df_agg['AVERAGE VIEW DURATION'].apply(lambda x: datetime.strptime(x, '%H:%M:%S'))

    # create new column for df_agg['AVERAGE VIEW SECONDS'
    df_agg['AVERAGE VIEW SECONDS'] = df_agg['AVERAGE VIEW DURATION'].apply(lambda x: x.second + x.minute * 60 + x.hour * 60 * 60)

    # engagement ration, every engagement a view could do divided by the number of viewrs
    df_agg['ENGAGEMENT RATIO'] = (df_agg['SHARES'] + df_agg['LIKES'] + df_agg['DISLIKES'] + df_agg['COMMENTS ADDED']) / df_agg['VIEWS'] 

    # ratio of views to subscribers gained
    df_agg['VIEW TO SUBSCRIBER RATIO'] = df_agg['VIEWS'] / df_agg['SUBSCRIBERS GAINED'] # how views does it take to gain a subscriber

    # ratio of views to subscribers lost, 
    df_agg['VIEW TO SUBSCRIBER LOST RATIO'] = df_agg['VIEWS'] / df_agg['SUBSCRIBERS LOST'] # how views does it take to lose a subscriber

    # sort data by 'VIDEO PUBLISH TIME'
    df_agg.sort_values(by = 'VIDEO PUBLISH TIME', ascending=False, inplace=True)

    # CONVERTING DATE to datetime
    df_vid['DATE'] = pd.to_datetime(df_vid['DATE'], format='mixed')

    df_com['DATE'] = pd.to_datetime(df_com['DATE'])
    
    return df_agg, df_agg_sub, df_com, df_vid 

load_data()

(           VIDEO                                        VIDEO TITLE  \
 111  0jTtHYie3CU  Should You Be Excited About Web 3? (As a Data ...
 187  2RWwN5ZT4tA  Should  @Luke Barousse Take This Data Analyst ...
 64   rEWPqw6rMGI         The Only Data Science Explanation You Need
 59   o-wsyxWbPOw  We Need to Talk About The LinkedIn Machine Lea...
 32   xpIFS6jZbe8  How I Would Learn Data Science in 2022 (If I H...
 ..           ...                                                ...
 75   RRSRKf9eQxc          Should You Get A Masters in Data Science?
 190  IFceyuL6GZY  How I Became A Data Scientist From a Business ...
 204  Y_SMU701qlA  Predicting Season Long NBA Wins Using Multiple...
 138  qfRhKHV8-t4  Predicting Crypto-Currency Price Using RNN lST...
 223  5p73cIRYCZg                     ProjectDemoCSC478_UFCFightData

     VIDEO PUBLISH TIME  COMMENTS ADDED  SHARES  DISLIKES  LIKES  \
 111         2022-01-17              37      43         8    267
 187         2022-01-14              12       2         3     78
 64          2022-01-10              62     141         5    722
 59          2022-01-03              65      36        12    592
 32          2021-12-27             109     767        53   4413
 ..                 ...             ...     ...       ...    ...
 75          2018-11-14              56      41        10    276
 190         2018-11-12              11      33         4    168
 204         2018-07-10               7      45         2    159
 138         2017-11-18              28     114        18    247
 223         2017-06-06               0       2         0      1

      SUBSCRIBERS LOST  SUBSCRIBERS GAINED  RPM (USD)  ...  VIEWS  \
 111                14                  18      4.055  ...   4383
 187                 1                   1      1.882  ...   2401
 64                 28                 136      5.971  ...  10277
 59                 10                  78      5.321  ...  11808
 32                 46                2553      6.836  ...  79283
 ..                ...                 ...        ...  ...    ...
 75                  2                  81      7.398  ...  18488
 190                 0                  81      4.419  ...   5515
 204                 1                  34      2.883  ...   6863
 138                 1                 111      1.326  ...  16558
 223                 0                   0      0.050  ...     60

      WATCH TIME (HOURS) SUBSCRIBERS  YOUR ESTIMATED REVENUE (USD)  \
 111            192.5779           4                        16.549
 187             25.9375           0                         1.720
 64             801.5549         108                        60.498
 59             545.6332          68                        62.568
 32            5945.5420        2507                       528.286
 ..                  ...         ...                           ...
 75             782.5937          79                       136.708
 190            363.4858          81                        24.358
 204            276.7257          33                        19.772
 138            487.2194         110                        21.944
 223              1.0684           0                         0.003

      IMPRESSIONS  IMPRESSIONS CLICK-THROUGH RATE (%)  AVERAGE VIEW SECONDS  \
 111        65130                                2.95                   158
 187        25094                                2.64                    38
 64        215491                                2.22                   280
 59        166915                                3.32                   166
 32       1420968                                3.31                   269
 ..           ...                                 ...                   ...
 75        173610                                8.40                   152
 190        58816                                5.72                   237
 204        53865                                4.03                   145
 138       168508                                5.65                   105
 223          365                               11.51                    64

      ENGAGEMENT RATIO  VIEW TO SUBSCRIBER RATIO  VIEW TO SUBSCRIBER LOST RATIO
 111          0.080995                243.500000                   3.130714e+02
 187          0.039567               2401.000000                   2.401000e+03
 64           0.090493                 75.566176                   3.670357e+02
 59           0.059705                151.384615                   1.180800e+03
 32           0.067379                 31.054837                   1.723543e+03
 ..                ...                       ...                            ...
 75           0.020716                228.246914                   9.244000e+03
 190          0.039166                 68.086420                            inf
 204          0.031036                201.852941                   6.863000e+03
 138          0.024580                149.171171                   1.655800e+04
 223          0.050000                       inf                            inf

 [223 rows x 23 columns],
                                              VIDEO TITLE EXTERNAL VIDEO ID  \
 0      ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...       OtqQYqRNDGI
 1      ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...       OtqQYqRNDGI
 2      ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...       OtqQYqRNDGI
 3      ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...       OtqQYqRNDGI
 4      ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...       OtqQYqRNDGI
 ...                                                  ...               ...
 55287                #66DaysOfData - 3 Reasons to Start!       sICJ6a2wX5g
 55288                #66DaysOfData - 3 Reasons to Start!       sICJ6a2wX5g
 55289                #66DaysOfData - 3 Reasons to Start!       sICJ6a2wX5g
 55290                #66DaysOfData - 3 Reasons to Start!       sICJ6a2wX5g
 55291                #66DaysOfData - 3 Reasons to Start!       sICJ6a2wX5g

        VIDEO LENGTH                                    THUMBNAIL LINK  \
 0                59  https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg
 1                59  https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg
 2                59  https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg
 3                59  https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg
 4                59  https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg
 ...             ...                                               ...
 55287            53  https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg
 55288            53  https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg
 55289            53  https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg
 55290            53  https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg
 55291            53  https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg

       COUNTRY CODE  IS SUBSCRIBED  VIEWS  VIDEO LIKES ADDED  \
 0               HK           True     23                  1
 1               ME           True      3                  0
 2               RW           True      2                  0
 3               US           True    979                 81
 4               DE          False     75                  3
 ...            ...            ...    ...                ...
 55287           MM          False      1                  0
 55288           SA           True     14                  1
 55289           DZ          False      2                  0
 55290           MX          False     11                  0
 55291           SR           True      1                  0

        VIDEO DISLIKES ADDED  VIDEO LIKES REMOVED  USER SUBSCRIPTIONS ADDED  \
 0                         0                    0                         2
 1                         0                    0                         0
 2                         0                    0                         0
 3                         6                    8                        16
 4                         0                    1                         0
 ...                     ...                  ...                       ...
 55287                     0                    0                         0
 55288                     0                    0                         0
 55289                     0                    0                         0
 55290                     0                    0                         0
 55291                     0                    0                         0

        USER SUBSCRIPTIONS REMOVED  AVERAGE VIEW PERCENTAGE  \
 0                               0                 0.671870
 1                               0                 0.498870
 2                               0                 0.681780
 3                               4                 0.694854
 4                               0                 0.661515
 ...                           ...                      ...
 55287                           0                 0.622642
 55288                           0                 0.515569
 55289                           0                 0.782075
 55290                           0                 0.636178
 55291                           0                 0.985679

        AVERAGE WATCH TIME  USER COMMENTS ADDED
 0               39.640348                    0
 1               29.433333                    0
 2               40.225000                    0
 3               40.996389                    0
 4               39.029373                    0
 ...                   ...                  ...
 55287           33.000000                    0
 55288           27.325143                    0
 55289           41.450000                    0
 55290           33.717455                    0
 55291           52.241000                    0

 [55292 rows x 15 columns],
                                                 COMMENTS  \
 0      Thanks for this video Ken.\n\nI decided to go ...
 1      Hello ken jee!!! I'm doing a graduation on Com...
 2      Thanks for this video, man. So useful. I'll me...
 3      Great video!!! I started learning Python 8 mon...
 4      Been watching hours of your material (and Tina...
 ...                                                  ...
 10235  Dear Ken,\nMay I know how the input data with ...
 10236  What's your prediction Ken for 2018 or at leas...
 10237  Nice. I have some nice models for this doing v...
 10238  Great video! Can you please post the github li...
 10239  Hi Ken\n\nI've been researching about this. Wo...

                        COMMENT_ID  REPLY_COUNT  LIKE_COUNT  \
 0      UgxFZTIzC4UPyhhX_PZ4AaABAg            0           0
 1      Ugx3IYuAufhb932GYQx4AaABAg            0           0
 2      UgyhwwoK24arzRt1mud4AaABAg            0           0
 3      UgwrrI7nd3WClsotmHV4AaABAg            0           0
 4      UgxlOrHO4MHKSwY9mUN4AaABAg            0           0
 ...                           ...          ...         ...
 10235  UgzX5v48CJAPbvynwTR4AaABAg            1           0
 10236  UgwdI9ydb2nk-FIJ1sN4AaABAg            0           0
 10237  UgyTi5fEIpZBoED9Fc94AaABAg            0           0
 10238  UgyhJTCKn88b0lggR794AaABAg            0           0
 10239  UgzG1dz-KieX_gxjMWd4AaABAg            6           2

                            DATE        VIDID    USER_ID
 0     2022-01-22 08:13:29+00:00  xpIFS6jZbe8   user_981
 1     2022-01-22 01:09:46+00:00  xpIFS6jZbe8   user_213
 2     2022-01-21 23:59:05+00:00  rEWPqw6rMGI  user_1065
 3     2022-01-21 23:00:37+00:00  xpIFS6jZbe8  user_3391
 4     2022-01-21 20:24:20+00:00  sHRq-LshG3U  user_2816
 ...                         ...          ...        ...
 10235 2018-07-06 07:08:39+00:00  qfRhKHV8-t4  user_5850
 10236 2018-05-15 00:01:12+00:00  qfRhKHV8-t4  user_2676
 10237 2018-05-04 20:58:54+00:00  qfRhKHV8-t4  user_4533
 10238 2018-02-20 16:46:19+00:00  qfRhKHV8-t4  user_3368
 10239 2017-12-03 18:52:35+00:00  qfRhKHV8-t4  user_5345

 [10240 rows x 7 columns],
              DATE                                        VIDEO TITLE  \
 0      2022-01-19  Kaggle Project From Scratch - Part 2 (Explorat...
 1      2022-01-19     Welcome To My Channel | Ken Jee | Data Science
 2      2022-01-19  How She Dominated the FAANG Data Science Inter...
 3      2022-01-19    The 9 Books That Changed My Perspective in 2019
 4      2022-01-19  Interview with the Director of AI Research @ N...
 ...           ...                                                ...
 111852 2017-11-21  Predicting Crypto-Currency Price Using RNN lST...
 111853 2017-11-20  Predicting Crypto-Currency Price Using RNN lST...
 111854 2017-11-19  Predicting Crypto-Currency Price Using RNN lST...
 111855 2017-11-18  Predicting Crypto-Currency Price Using RNN lST...
 111856 2017-11-01                     ProjectDemoCSC478_UFCFightData

        EXTERNAL VIDEO ID  VIDEO LENGTH  \
 0            KQ80oD_boBM          2191
 1            smeFkHwnM_k            51
 2            vfV4nm004VQ          2686
 3            3TrAYmrmA8o           980
 4            Xgg7dIKys9E          2904
 ...                  ...           ...
 111852       qfRhKHV8-t4           311
 111853       qfRhKHV8-t4           311
 111854       qfRhKHV8-t4           311
 111855       qfRhKHV8-t4           311
 111856       5p73cIRYCZg           729

                                           THUMBNAIL LINK  VIEWS  \
 0       https://i.ytimg.com/vi/KQ80oD_boBM/hqdefault.jpg     13
 1       https://i.ytimg.com/vi/smeFkHwnM_k/hqdefault.jpg      2
 2       https://i.ytimg.com/vi/vfV4nm004VQ/hqdefault.jpg     10
 3       https://i.ytimg.com/vi/3TrAYmrmA8o/hqdefault.jpg      1
 4       https://i.ytimg.com/vi/Xgg7dIKys9E/hqdefault.jpg      1
 ...                                                  ...    ...
 111852  https://i.ytimg.com/vi/qfRhKHV8-t4/hqdefault.jpg      2
 111853  https://i.ytimg.com/vi/qfRhKHV8-t4/hqdefault.jpg      9
 111854  https://i.ytimg.com/vi/qfRhKHV8-t4/hqdefault.jpg      4
 111855  https://i.ytimg.com/vi/qfRhKHV8-t4/hqdefault.jpg     13
 111856  https://i.ytimg.com/vi/5p73cIRYCZg/hqdefault.jpg      1

         VIDEO LIKES ADDED  VIDEO DISLIKES ADDED  VIDEO LIKES REMOVED  \
 0                       0                     0                    0
 1                       0                     0                    0
 2                       0                     0                    0
 3                       0                     0                    0
 4                       0                     0                    0
 ...                   ...                   ...                  ...
 111852                  0                     0                    0
 111853                  0                     0                    0
 111854                  0                     0                    0
 111855                  0                     0                    0
 111856                  0                     0                    0

         USER SUBSCRIPTIONS ADDED  USER SUBSCRIPTIONS REMOVED  \
 0                              0                           0
 1                              1                           0
 2                              0                           0
 3                              0                           0
 4                              0                           0
 ...                          ...                         ...
 111852                         0                           0
 111853                         0                           0
 111854                         0                           0
 111855                         0                           0
 111856                         0                           0

         AVERAGE VIEW PERCENTAGE  AVERAGE WATCH TIME  USER COMMENTS ADDED
 0                      0.069055          151.300154                    0
 1                      0.471255           24.034000                    0
 2                      0.126049          338.567500                    0
 3                      0.011508           11.278000                    0
 4                      0.007541           21.900000                    0
 ...                         ...                 ...                  ...
 111852                 0.693108          215.556500                    0
 111853                 0.492501          153.167667                    0
 111854                 0.087268           27.140250                    0
 111855                 0.444176          138.138769                    0
 111856                 0.003018            2.200000                    0

 [111857 rows x 14 columns])