<a href="https://colab.research.google.com/github/andazi/Python-Programming-A-Comprehensive-Guide-for-Beginners/blob/main/learning_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### check out the full code on my github [github](https://github.com/andazi/Python-Programming-A-Comprehensive-Guide-for-Beginners)


# **Python Programming: A Comprehensive Guide for Beginners**
---
### **PREREQUISITES**

- No prior programming experience required.
- Basic computer literacy and familiarity with using a text editor.
- A strong willingness to learn and practice programming concepts.



## Table of Contents:
### 1. Introduction to Python
   - Why Python?
   - Installing Python
   - Running Python Programs
   - Comment

### 2. Python Basics
   - Variables
   - Basic Data Types
   - Operators and Expressions
   - Input and Output
   - Control Flow (Conditionals and Loops)

### 3. Functions and Modules
   - Defining Functions
   - Parameters and Return Values
   - Modules and Libraries
   - Working with External Libraries

### 4. Data Structures
   - Lists and Tuples
   - Dictionaries
   - Sets
   - Strings and String Manipulation

### 5. Object-Oriented Programming
   - Introduction to OOP
   - Classes and Objects
   - Inheritance and Polymorphism
   - Encapsulation and Abstraction

### 6. File Handling
   - Reading and Writing Files
   - CSV and JSON Files
   - Exception Handling

### 7. Advanced Topics
   - Regular Expressions
   - Lambda Functions
   - Decorators
   - Generators

### 8. Introduction to Data Science and Web Development
   - Data Science with Python
   - Machine Learning
   - Web Development Basics with Python

### 9. Final Project
   - Applying Python Skills to a Real-World Project

Appendices:
   - Python Syntax Cheat Sheet [pythoncheatsheet](https://www.pythoncheatsheet.org)
   - Additional Resources [freecodecamp](https://www.freecodecamp.org), [w3schools](https://www.w3schools.com/python/default.asp)
   - Glossary of Key Terms

---
Guidelines for Teaching:
- Emphasize hands-on practice and coding exercises to reinforce learning.
- Use real-world examples and practical projects to engage learners.
- Encourage experimentation and problem-solving skills.
- Provide step-by-step explanations and code walkthroughs.
- Use visual aids such as diagrams and flowcharts to illustrate concepts.
---
Goals:
- Understand the basic principles of programming.
- Learn Python syntax and core concepts.
- Develop problem-solving skills and logical thinking.
- Gain proficiency in writing efficient and readable Python code.
- Explore advanced topics and applications of Python.
---
Notes:
- Provide additional explanations and clarifications for complex concepts.
- Include tips and common pitfalls to watch out for.
- Encourage code documentation and best practices.
- Offer insights into industry trends and practical use cases for Python.

**Prerequisites:**
- No prior programming experience required.
- Basic computer literacy and familiarity with using a text editor.
- A strong willingness to learn and practice programming concepts.

# **1. Introduction to Python**
---
**Why Python?**
Python is a popular high level language that offers numerous advantages. It is easy to learn for both children and adults.
>*so why in details?*



1.   Simplicity and Readability: Python is easy to read and understand. The codes is closer to human speech than any other language.

The below code looks easy to understand
```
print("I love Python")

```
Result
```
I love Python
```
1.   Beginner-Friendly: It is easy for all age groups to understand and begin lifes as a programmer.

2.   Versatility: I call python **Jack of all trades** since it can be use in wide range of applications such as data science, machine learning, artificial intelligence, web development and many more.
3.   Large Community: Python has a large and active community of developers. so many resources and support for easy coding life.
4.   Cross-Platform: Python language can be run on any operating system such as Windows, Linus, Mac and others
5.    High Demand and Job Opportunities: This is a language that can be use to do various task and the demand for it is high in the job market. Imagine you automating your daily 9 hours job with just few lines of code or writing a code to predict the stocks values.

Overall, python's simplicity, versatility and supportive community make it an excellent choice for programming language to learn or teach since its provides a solid foundation to beginners and empowers learners to explore more.


---

**Installing Python**

- To download Python, you need to visit www.python.org, which is the official Python website.
- Download the latest version or a version of your choice based on your system requirement.
- Install python
---
<b>We would be using google colab. You can Watch Introduction to Colab https://www.youtube.com/watch?v=inN8seMm7UI to understand the environment</b> but you can use any IDE that is convinient for you.



---



**Running Python Programs**

We would be running python program by running a simple command.

Run the codes below.

In [ ]:
print("Hello, World")

Hello, World

**Comment**

First below we start coding, let get use to commenting line or intructions

A comment in Python is a line of text that is ignored by the Python interpreter. Comments are used to explain the code, provide notes for the programmer, or disable parts of the code without deleting them.


To write a comment in Python, start the line with a hash mark (`#`). Everything on the line after the hash mark will be ignored by the Python interpreter.

```
# assign a code
print("Hello Earth")
```
this returns
```
> Hello, Earth
```
check this
```
my first python code, printing "Hello Earth"
print("Hello Earth")
```
This returns and error
```
> File "<ipython-input-1-4b0d34c5f954>", line 1
    my first python code, printing "Hello Earth"
       ^
SyntaxError: invalid syntax
```
But we we comment, the intructions
```
# my first python code, printing "Hello Earth"
print("Hello Earth")
```
This returns
```
> Hello Earth
```

comment the instructions to avoid an errors

In [ ]:
Printing my Name
print("Julius Patya")

In [ ]:
This line will not be executed.
print("This line will not be executed.")

In [ ]:
printing a number
print(34)

You can be bold and edit some of the codes below and see the results

In [ ]:
# change the number 30 to any other age and then run
age = 30

if age < 13:
    print("Hello Baby")
elif age < 20:
    print("Welcome Teenager")
else:
    print("Hello Adult")

### 2. Python Basics
---

**Variables and Data Types**

*What are variable?*

A variable is a container that can be use to store data or values. They can be use to store different types of data. These variables can then be used later in the program.

We use the **=** sign to store values to a variable.

For example, you can declare a variable named "`my_name`" and store the value "`Andazi Boboye`" in it:

code:
```
my_name = "Andazi Boboye"
print(my_name)
```
result:
```
Andazi Boboye
```

In [ ]:
# we would create a variable called favorite_song and assign it to the string(value) "Another love by Tom Odell"
# print favorite_song
favorite_song = "Another love by Tom Odell"


**Here are some tips for naming variables:**

-   Use meaningful names that describe the data that the variable stores. This helps make code more readable and understandable.
```
# Good variable name
name = "JACK SPARROW"
age = 39
is_pirate = True
```
-   Avoid using special characters or spaces in variable names.
```
# WRONG VARIABLE NAME
first name = "Andazi Ahmed"
percent% = 100
```
-   Use underscores to separate words in variable names.
```
first_name = "Priya"
last_name = "Andazi"
student_grades = "A"
get_access_code = "23sd89@3SA%$&W"
```
-   Start variable names with a lowercase letter.
```
# wrong case
My_name = "Li Ming"
Age = 23
FIRST_NAME = "Pablo"
```
```
#correction
my_name = "Li Ming"
age = 23
first_name = "Pablo"
```
-    Avoid reserved keywords: A reserved keyword is a word that has a special meaning such as:
```
and
as
assert
break
class
continue
def
del
elif
else
except
finally
for
from
global
if
import
in
is
lambda
nonlocal
not
or
pass
raise
return
try
while
with
yield
```
As we keep coding we would uncover some of them.
Dont worry, python would tell you if you are using a reserve keyword or not.

Therefore you cant write and run the below codes

You can run the code below to see the errors

Change the daclaration to `total_yield` and run the below `code`

In [ ]:
#reserved keyword
yield = 35
print(yield)

SyntaxError: ignored

**EXERCISE**

In [ ]:
# edit the cell
# declare a variable names birth_year and assign it to value 2000
# print birth_year

In [ ]:
# edit the cell
# declare a variable names current_year and assign it to value 2023
# print current_year

In [ ]:
# edit the cell
# declare a variable names best_course and assign it to value "Python"
# print birth_year

you should have completed the above exercise

_Dont worry if it still confusing, I still reply bonjour to any sentence in my French class_

---
**Basic Data Types**


In Python, data types represent the kind of data that can be stored and manipulated in a program. Python has several built-in data types that serve different purposes and allow you to work with various kinds of data. Understanding data types is crucial for writing effective and robust Python programs. Let's explore the commonly used data types:

---


***Numeric Data Types***
- **int**: Represents integer values without any decimal points. For example, `42`, `-10`, `0`.

In [ ]:
# The below value is an integer
age = 18

# height in feet
height = 6

**Exercise**

In [ ]:
# Create 10 different integers

- **float**: Represents floating-point or decimal values with a fractional part. For example, `3.14`, `-0.5`, `2.0`.

In [ ]:
# The below value is an integer
ratings = 4.5

# height in feet
height = 6.2

**Exercise**

In [ ]:
# Create 10 different floats


***Boolean Data Type***
- **bool**: Represents Boolean values that can be either `True` or `False`. Booleans are commonly used in logical operations and conditional statements.

Boolean represent when something or a result has to options only.

```
is_happy = True
is_happy = False
```
They are commonly use in programming to make decisions and control the flow.

control the flow, means if a condition is `True` then `do this` else `do that`

In [ ]:
# Boolean and controlling the flow
# Run the below code
is_adult = True
if is_adult:
    print("Welcome to Netflix")
else:
    print("Please, Enter Parental pin")

Welcome to Netflix

**Exercise**

In [ ]:
# check this out

# assign a value to age
# change the value to random values of your choose
age = 21

#logical flow
#checking if age is greater the 17

if age > 17:
    # do this
    print("You are an adult")
    print("You need to start paying Tax")
else:
    print("Come take your Allowance for the Week")

You are an adult
You need to start paying Tax

Like we concluded earliar, that `Booleans` can either be `True` or `False`

Please note that `True` is not the same as `true` or `TRUE`
`False` is not the same as `false` or `false`

`True` and `False` is a `boolean`
`true`, `TRUE`, `false`, `FALSE` or any form of variation that is not `True` is not a `boolean`

---


***Sequence Data Types***
- **str**: Represents a sequence of characters enclosed in single quotes (`'`) or double quotes (`"`). For example, `'Hello'`, `"Python"`.

A value is a `String` if it is enclose in either single qoute `''`
or double qoutes `""`

examples:

`"Andazi"`, `'Andazi'` are both `string`

`"26"`, `'90.45'`, `'-234.45'` are all strings due to the quotes enclosure

just like `26`, `90.45`, `-234.45` are not `Strings`

In [ ]:
a = "23"

**Exercise**

In [ ]:
# create a 10 diffrent strings

- **list**: Represents an ordered collection of items enclosed in square brackets (`[]`).

Lists can contain elements of different data types and can be modified (mutable). For example, `[1, 2, 'three', True]`.

Lets create an empty List
```
names = []
```

In [ ]:
# Run the below code
names = []
print(names)

[]

Creating a List of Strings

In [ ]:
female_names = ["anna", "sinla", "ebimo", "ebi", "india", "maryjane", "blessing", "mary", "precious", "stella"]
print(female_names)

['anna', 'sinla', 'ebimo', 'ebi', 'india', 'maryjane', 'blessing', 'mary', 'precious', 'stella']

In [ ]:
football_clubs = ['Real Madrid', 'FC Barcelona', 'Manchester United', 'Liverpool', 'Paris Saint-Germain', 'FC Bayern Munich', 'Arsenal', 'Tottenham Hotspur', 'Chelsea', 'Juventus', 'Club Atlético de Madrid', 'Borussia Dortmund', 'FC Internazionale Milano', 'AC Milan', 'Manchester City', 'Atlético Madrid', 'Sevilla FC', 'West Ham United', 'SSC Napoli', 'RasenBallsport Leipzig', 'Aston Villa', 'AS Roma', 'Eintracht Frankfurt', 'Everton', 'Olympique de Marseille', 'Valencia CF', 'Benfica', 'Porto', 'Ajax', 'Sporting CP', 'Shakhtar Donetsk', 'Dynamo Kyiv', 'Club América', 'Flamengo', 'Palmeiras', 'Santos', 'River Plate', 'Boca Juniors']
print(football_clubs)

['Real Madrid', 'FC Barcelona', 'Manchester United', 'Liverpool', 'Paris Saint-Germain', 'FC Bayern Munich', 'Arsenal', 'Tottenham Hotspur', 'Chelsea', 'Juventus', 'Club Atlético de Madrid', 'Borussia Dortmund', 'FC Internazionale Milano', 'AC Milan', 'Manchester City', 'Atlético Madrid', 'Sevilla FC', 'West Ham United', 'SSC Napoli', 'RasenBallsport Leipzig', 'Aston Villa', 'AS Roma', 'Eintracht Frankfurt', 'Everton', 'Olympique de Marseille', 'Valencia CF', 'Benfica', 'Porto', 'Ajax', 'Sporting CP', 'Shakhtar Donetsk', 'Dynamo Kyiv', 'Club América', 'Flamengo', 'Palmeiras', 'Santos', 'River Plate', 'Boca Juniors']

Creating a List of Numbers

In [ ]:
years = [1810, 1867, 1982, 1917, 1943, 1815, 1749, 1975, 1892, 1976, 1968, 1866, 1888, 1920, 1777, 1858, 1911, 1999, 1802, 1904, 1997, 1848, 1993, 1742, 1956, 1790, 1959, 1963, 1952, 1835, 1863, 1957, 1899]
print(years)

[1810, 1867, 1982, 1917, 1943, 1815, 1749, 1975, 1892, 1976, 1968, 1866, 1888, 1920, 1777, 1858, 1911, 1999, 1802, 1904, 1997, 1848, 1993, 1742, 1956, 1790, 1959, 1963, 1952, 1835, 1863, 1957, 1899]

In [ ]:
percent = [1.0, 2.0, 3.0, 4.0, 50.7, 67.3]
print(percent)

[1.0, 2.0, 3.0, 4.0, 50.7, 67.3]


***Mapping Data Type***
- **dict**: Represents a collection of key-value pairs enclosed in curly braces (`{}`). Dictionaries are unordered, mutable, and use unique keys to access their values. For example, `{'name': 'John', 'age': 25, 'city': 'New York'}`.

***Set Data Type***
- **set**: Represents an unordered collection of unique elements enclosed in curly braces (`{}`). Sets do not allow duplicate values. For example, `{1, 2, 3, 4, 5}`.


***Tuple Data Type***
- **tuple**: Represents an ordered collection of elements enclosed in parentheses (`()`). Tuples are similar to lists but are immutable (cannot be modified). For example, `(1, 'two', True)`.


***None Type***
- **None**: Represents a special type that indicates the absence of a value or a null value. It is often used to represent variables that don't have a value assigned yet.

**Checking the datatypes**

In [ ]:
# Examples of data types
my_name = 'John'
my_age = 30
temperature = 25.5
is_raining = True
my_list = [1, 2, 3]
my_dict = {'name': 'John', 'age': 30}
my_set = {1, 2, 3}
my_tuple = (1, 'two', True)
nothing = None

In [ ]:
# checking datatypes
type(my_name)

str

In [ ]:
type(my_dict)

dict

In [ ]:
type(my_tuple)

tuple

In [ ]:
type(my_age)

int

Exercise

Create 3 varialbes for each DataTypes

**Converting from one DataType to another**

We can convert from one data type to another very easily

```
# Convert from Integer to String
age = 24

# check the DataType
type(age)
```
Result
```
int

```

```
# convert to string and reassign to age
age = str(age)

type(age)
```
Result
```
str
```

In [ ]:
# assigning a variable
a = 28

#checking
print(a)
print(type(a))

28
<class 'int'>

In [ ]:
# reassigning to a different data
b = str(a)

#checking
print(b)
print(type(b))

In [ ]:
# converting Float to Integer

height = 6.11

# checking
print(height)
print(type(height))

6.11
<class 'float'>

In [ ]:
# reassigning to height but to an Integer DataType

height = int(height)

# checking
print(height)
print(type(height))

6
<class 'int'>

**note:** converting from Float to Integer, kicks off the decimals

In [ ]:
# converting from Integer to Float

time = 69

# checking
print(time)
print(type(time))

69
<class 'int'>

In [ ]:
# converting from Integer to Float
time = float(time)

# checking
print(time)
print(type(time))

69.0
<class 'float'>

**note:** converting from integer to float, adds a `.0` at the end of the integer

converting from string to list

In [ ]:
sentence = 'HELLO, WORLD'

# checking
print(sentence)
print(type(sentence))

HELLO, WORLD
<class 'str'>

In [ ]:
# converting to list

sentence = list(sentence)

print(sentence)
print(type(sentence))

['H', 'E', 'L', 'L', 'O', ',', ' ', 'W', 'O', 'R', 'L', 'D']
<class 'list'>

**note:** converting from string to list, iterates through all the characters in the string including the *white-space* and symbols.

But can we convert a number to a List

Below code returns an error

In [ ]:
weight = 190
print(list(weight))

To convert a number to List, we first convert the number to string then to list

In [ ]:
weight = 190

# to string
weight = str(weight)

# to list
weight = list(weight)

#confirmation

print(weight)
print(type(weight))

['1', '9', '0']
<class 'list'>

**Exercise**

Convert from diffrent one Datatype to another DataType


***Understanding and utilizing these data types will enable you to work with different kinds of data effectively. Python is a dynamically typed language, which means you don't need to explicitly declare the data type of a variable. The data type is inferred based on the value assigned to the variable.***

---

**Operators and Expressions**

---

- Arithematic Operators
- Comparison Operators
- Logical Operators
- Assignment Operators
- Membership Operators
- Identity Operators
- Bitwise Operators

- **Arithematic Operators**

These are operators use to perform basic Mathematical Operations. They are,

```
Addition                    +     Returns the sum of numbers
Subtraction                 _     Returns the diffrence with numbers
Multiplication              *     Returns the product between numbers
Division                    /     Returns the Division of numbers but in Float DataType
Floor Division              //    Returns the Division of numbers but in Integer DataType (it kicks off the remainder)
Modulus                     %     Returns the remainder of the Division between numbers
Exponentiation              **    Returns the a number to the power of the second number
```

**Addition**

Numbers

Adding numbers returns the sum
```
a = 36
b = 33
c = a + b
print(c)
```
result
```
69
```

In [ ]:
print(23 + 25)
print(23.5 + 9)

48
32.5

Strings

The Question is, Can we add strings together? No, we can't but can only join string to another string.

This is called **Concatenation**, in short **concat**

```
first_name = "Adamu"
last_name = "Peter"

fullname = first_name + last_name
print(fullname)
```
Result
```
AdamuPeter
```


**Input and Output**

---


**Control Flow (Conditionals and Loops)**

**conditional**
When we talk about conditonals in  python. We mean our daily activity of `WHAT ACTION SHOULD BE DONE WHEN A CERTAIN CONDITION IS MET`.

The most basic syntax for a conditional statement is when there are only the outcomes, **either this or that**

```
if <condition>:
    do this
else:
    do that
```
* examples

1.   We want to check is a person is an adult or not

 - We know an adult's age is 18 and above (**greater than 17**)
 - A non adult is below 18 (**less than 18**)
 - so we write

```
age = 23
if age > 17:
    print('You are an adult')
else:
    print('You are not an adult')

# take note, any age that is not greater than 17 has to be 17 or lesser
```
Result
```
You are an adult
```

In [1]:
# we would be using the input() function

age = input('Enter Age: ')

# convert age to an integer and reassign
age = int(age)

# write your conditon
if age > 17:
    print('You are an adult')
else:
    print('You are not an adult')

Enter Age: 34
You are an adult

In [3]:
# using the age variable in the above cell
license_age = 21

if age >= 21:
    print('you are license to drive')
else:
    print('Kindly come when you are 21 years old')

you are license to drive

Another way to write conditional statement is when there are multiple conditons, like

```
if <condition 1>
    do action 1
elif <conditon 2>
    do action 2
elif <condition 3>
    do action 3
else:
    do this
```

There can be as many conditions as possible

examples

1. Lets check if a person is a `Baby` or `Pre-Teen` or `Teenager` or `adult` or `Elderly` or `Ancient vampire`

- Baby: Birth to 5 years
- Pre-Teen: 6 to 12 years
- Teenager: 13 to 19 years
- Young adulthood: 18 to 64 years
- Elderly: 65 years and older
- Ancient Vampire: 200 years above

```
# we can start by writing it backwards

age = 100

if age <= 5:
  print("You are a baby.")
elif age <= 12:
  print("You are a pre-teen.")
elif age <= 19:
  print("You are a teenager.")
elif age <= 64:
  print("You are a young adult.")
elif age <= 200:
  print("You are an Elderly.")
else:
  print("You are an ancient vampire.")
```
Result
```
You are an Elderly

```

In [4]:
# still using the above age varible
# You can go ahead and assign a diffrent value to age
if age <= 5:
    print("You are a baby.")
elif age <= 12:
    print("You are a pre-teen.")
elif age <= 19:
    print("You are a teenager.")
elif age <= 64:
    print("You are a young adult.")
elif age <= 200:
    print("You are an Elderly.")
else:
    print("You are an ancient vampire.")

You are a young adult.

Please note that, `else` means all the other conditions could not be meant, so do me

**List comprehension**
Allows us to create a list with one line of code from a given data


```
basic list

list_result = [transform iteration]

double_num = [i * 2 for i in numbers]

print(double_num)

```
Result
```
[46, 24, 90, 132, 180, 24, 86]
```
```
Further  List comprehension

list_result = [transform iteration condition]

even = [num for num in numbers if num % 2 == 0]
print(even)
```
Result
```
[12, 66, 90, 12]
```

In [1]:
numbers = [23,12,45,66,90,12,43]

In [3]:
# basic 
# iterating through and multiplying it by 2

numbers_by_2 = []

for i in numbers:
    numbers_by_2.append(i * 2)

print(numbers_by_2)

[46, 24, 90, 132, 180, 24, 86]

In [4]:
# list comprehension

numbers_by_2_list = [i * 2 for i in numbers]

print(numbers_by_2_list)

[46, 24, 90, 132, 180, 24, 86]

##### Adding a condition to list comprehension

In [5]:
# basic
even_num = []
for i in numbers:
    if i % 2 == 0:
        even_num.append(i)
print(even_num)

[12, 66, 90, 12]

In [ ]:
# with list comprehension
even = [num for num in numbers if num % 2 == 0]
print(even)

[12, 66, 90, 12]

##### Dictionary Comprehension

make use of key value pairing where the value is the comprehension and the key is the assign variable.

In [61]:
numbers = [1,2,3,4,5,6,7,8,9]

squares = {num : num ** 2 for num in numbers}

print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [63]:
# length of strings

items = ['beans', 'meat', 'pawpaw', 'avocado', 'shrimp']

len_items = {val: len(val) for val in items}

print(len_items)

{'beans': 5, 'meat': 4, 'pawpaw': 6, 'avocado': 7, 'shrimp': 6}

## 3. Functions and Modules

**Functions within a Function**

In [64]:
#  score grading
def get_grade(score):
    grades = ""
    if score >= 90:
        grades = "A"
    elif score >= 80:
        grades = "B"
    elif score >= 70:
        grades = "C"
    elif score >= 60:
        grades = "D"
    else:
        grades = "F"
    return grades

In [66]:
get_grade(10)

'F'

In [67]:
get_grade(99)

'A'

In [69]:
def get_grades(math, english, science, art):
    math_grade = get_grade(math) # get_grade(99)
    english_grade = get_grade(english)
    science_grade = get_grade(science)
    art_grade = get_grade(art)
    
    avg = (math + english + science + art) / 4

    report =  f'''
    math    : {math_grade}
    english : {english_grade}
    science : {science_grade}
    art     : {art_grade}
    
    Average score is {avg}
    '''

    print(report)
    #return report

In [70]:
get_grades(99, 61, 98, 70)

    math    : A
    english : D
    science : A
    art     : C

    Average score is 82.0

In [1]:
# fake millitary requirement

# checking physical status
def male_physical(height, weight):
  msg = "Your Passed the Physical Test"
  if height >= 1.67 and weight >= 80 or weight <= 110:
    return msg
  else:
    return "You failed the requirement"

def female_physical(height, weight):
  msg = "Your Passed the Physical Test"
  if height >= 1.53 and weight in range(40, 71):
    return msg
  else:
    return "You failed the requirement"


# checking sex status
def physical_status(sex, height, weight):
  #converting arguments to lowercase
  sex = sex.lower()
  if sex == 'male':
    return male_physical(height, weight)
  elif sex == 'female':
    return female_physical(height, weight)
  else:
    return 'Sorry, We do not understand your Sex Status'

In [2]:
physical_status("female", 1.70, 59)

'Your Passed the Physical Test'

### 5. Object-Oriented Program

####  Class

Class is like a __blueprint__ of a building.

We create __objects__ from classes and its flexible in its nature.

Just imagine trying to create a company car collection showcasing the car name,color, model, engine, horsepower, made, type and others.

We can create a class having those properties to which we can keep creating different collection list without breaking the code and making it clean.

a class would have 

- name,color,year,....

while an object would be 
- Tesla, black, 2023,....
- Toyota, Green, 2009,....
- Honda, White, 2022,....

__you would notice the car collection(objects) is build on the blueprint(class)__

#### Creating a class

In [6]:
class Car0:
    pass

#### Instance

an instance creates an bject from the class and stores it in a variable name

#### creating instance

In [ ]:
tesla = Car0() # instance

In [7]:
toyota = Car0() # instance

__initialization__

`__init__ Method`

When ever an object is called, the init method is run automatically

```
def __init__(self):
```

__self__ keyword means the current instance

In [10]:
class Car1:
    # define the init method => to start something
    def __init__(self):
        print('A car Object is created!')

In [11]:
spongeCar = Car1() # creates an instance of the Car class and stores it in newCar1

A car Object is created!

#### confirming type

In [13]:
type(spongeCar)

__main__.Car1

#### working with attribute

We use the `.self` to give it attribute

In [14]:
# model,color, size, fuel type, fuel capacity

class Car2:
    # define the init method => to start your model
    def __init__(self):
        self.model = 'Tesla'
        self.color = 'Matte'
        self.size = 1000
        self.fuel_type = 'Electric'
        self.fuel_capacity = 10000

In [15]:
newCar2 = Car2()

In [17]:
print(newCar2.fuel_type)

Electric

Lets call an attribute that does not exist

__AttributeError: 'Car2' object has no attribute `height`__

In [18]:
print(newCar2.height)

AttributeError: 'Car2' object has no attribute 'height'

In [19]:
#### Method

In [20]:
class Car3:
    # define the init method => to start something
    def __init__(self):
        self.model = 'Tesla'
        self.color = 'Matte'
        self.size = 1000
        self.fuel_type = 'Electric'
        self.fuel_capacity = 10000
        
    def intro(self):
        self.greet = f'I am {self.model}, The best among the best.....'
        print(self.greet)   
    def carColor(self):
        print('My color is', self.color)
        
    # method that can modify our attribute
    def fuel_used(self, fuelAmount):
        self.fuel_capacity -= fuelAmount
        
        
newCar3 = Car3()

In [21]:
newCar3.intro()

I am Tesla, The best among the best.....

In [22]:
newCar3.carColor()

My color is Matte

In [23]:
newCar3.fuel_capacity

10000

In [24]:
newCar3.fuel_used(2500)

In [26]:
newCar3.fuel_capacity

7500

#### instance variable

In [28]:
class Car:
    
    def __init__(self,model,color,fuel_capacity):
        self.model = model
        self.color =color
        self.fuel_capacity = fuel_capacity
        
    def intro(self):
        self.greet = f'I am {self.model}, The best among the best.....'
        print(self.greet)
            
    def carColor(self):
        print('My color is', self.color)
        
    # method that can modify our attribute
    def fuel_used(self, fuelAmount = 0):
        self.fuel_capacity -= fuelAmount

In [29]:
bmw = Car('BMW', 'Blue', 50000)

In [30]:
tesla = Car('Tesla', 'Matte Black', 20000)

In [31]:
bmw.intro()

I am BMW, The best among the best.....

In [32]:
tesla.intro()

I am Tesla, The best among the best.....

#### Magic Method

These are the underlying of classes such as `__init__`. We also have `__str__` which returns string

In [33]:
class Cat:
    def __init__(self,name):
        self.name = name
    def intro(self):
        return f"I am {self.name} from the planet of meowary"

    
sam = Cat('Sam')
print(sam)

<__main__.Cat object at 0x7f40c8284890>

In [34]:
class Cat:
    def __init__(self,name):
        self.name = name
    def __str__(self):
        return f"I am {self.name} from the planet of meowary"

    
sam = Cat('Sam')
print(sam)

I am Sam from the planet of meowary

`__str__` return a string rather than just the memory address

In [36]:
class Animal:
    def __init__(self):
        self.species = 'unknown'
    def __str__(self):
        return self.species
    def getSpecies(self):
        return self.species
    def setSpecies(self,species):
        self.species = species
        return species
    

lion = Animal()
lion.setSpecies('feline')
lion.getSpecies()

'feline'

In [ ]:
class Person:
    def __init__(self):
        self.age = 0
    def setAge(self,age):
        self.age = age
    def getAge(self):
        return f'You are {self.age} Years old'

james = Person()

In [ ]:
james.setAge(20)

In [ ]:
print(james.getAge())

#### Inheritance
This allows for reusable methods for other class.

Imagine Two or more classes inheriting the some or all the methods from a __superclass__.

```
class Animal:
    def makeSound(self):
        print('Hello in parrotish')

class Parrot(Animal):
     def legs(self):
         print(2)
         
bud = Parrot() # bud is a parrot
bud.makeSound() #  prints 'Hello in parrotish'
```

In [ ]:
class Animal: # superclass
    def makeSound(self):
        print('Hello in parrotish')

class Parrot(Animal): # subclass
     def legs(self):
        print(2)
         
bud = Parrot() # bud is a parrot
# notice we did not add the makeSound() Method to Parrot
bud.makeSound() #  prints 'Hello in parrotish'

#### super() Method

Let say we want to make use of the Attributtes Defined in the __Super Class__,

```
class Animal():
    def __init__(self,species):
        self.species = species
        
class Dog(Animal):
    def __init__(self, species, breed):
        self.breed = breed
        super().__init__(species)
        
white = Dog('Canine','bud')
sam.species
```

In [41]:
class Animal:
    def __init__(self,species):
        self.species = species
        
class Dog(Animal):
    def __init__(self, species, breed):
        self.breed = breed
        super().__init__(species)
        
class Vehicle:
    def __init__(self,model):
        self.model = model
        
white = Dog('Canine','bud')

black = Vehicle('Tesla')

#### checking if an object is an istance of a class

`isinstance(obj, class)`

In [42]:
# check if the object white is an instance of class Dog
isinstance(white, Dog)

True

In [43]:
# check if the object white is an instance of class Parent Class, Animal
isinstance(white, Animal)

True

In [44]:
# object black is not an instance of Dog
isinstance(black,Dog)

False

### Encapsulation

This involves restricting the access components with an object, which is private or protected....

In [45]:
class BankAccount:
    # Private attributes
    _balance = 0

    def __init__(self, name, initial_deposit):
        self.name = name  # Public attribute
        self._balance = initial_deposit  # Private attribute

    def deposit(self, amount):
        if amount > 0:
            self._balance += amount
            print(f"Deposited ${amount}. Your new balance is ${self._balance}")
        else:
            print("Invalid deposit amount.")

    def withdraw(self, amount):
        if amount > 0 and amount <= self._balance:
            self._balance -= amount
            print(f"Withdrawn ${amount}. Your new balance is ${self._balance}")
        else:
            print("Invalid withdrawal amount.")

    def get_balance(self):
        return f'Your balance is ${self._balance}'  # Public method to access private attribute

In [46]:
bob = BankAccount('Bobo', 540000)

In [47]:
bob.deposit(120000)

Deposited $120000. Your new balance is $660000

In [48]:
bob.withdraw(340000)

Withdrawn $340000. Your new balance is $320000

In [49]:
bob.get_balance()

'Your balance is $320000'

In [50]:
bob._balance

320000

In [51]:
class Student:
    # Private attributes
    _name = ""
    _age = 0
    _grades = []

    def __init__(self, name, age):
        self._name = name
        self._age = age
        self._grades = []  # Private attribute

    def add_grade(self, grade):
        self._grades.append(grade)  # Adding to private attribute

    def get_average_grade(self):
        total = 0
        for grade in self._grades:
            total += grade
        average = total / len(self._grades)
        return average  # Public method to access private attribute

In [52]:
jude = Student('Jude', 12)
jude.add_grade(78)
jude.add_grade(98)
jude.add_grade(58)

In [53]:
jude.get_average_grade()

78.0

### Polymorphism

This allows different classes to be treated as instances of the same parent class.

It's often achieved through overiding the method

In [54]:
class Animal:
    def make_sound(self):
        return "Some generic sound"

class Dog(Animal):
    def make_sound(self):
        return "Woof!"

class Cat(Animal):
    def make_sound(self):
        return "Meow!"

In [55]:
bruno = Dog()
bruno.make_sound()

'Woof!'

In [56]:
harley = Cat()
harley.make_sound()

'Meow!'

In [57]:
animal = Animal()
animal.make_sound()

'Some generic sound'

## 6. File Handling

import library you would need
```
from csv import reader
```

open the csv file with right file location
```

opened_file = open('/content/sample_data/california_housing_test.csv')
```
read the file
```
read_file = reader(opened_file)
```
you can also convert it to a list
```
housing_data = list(read_file)

In [5]:
from csv import reader

opened_file = open('work-routine.csv')

read_file = reader(opened_file)

housing_data = list(read_file)

In [6]:
len(housing_data)

59

### 7. Advanced Topics¶

#### Regular Expression

#### Lambda Functions
Also called as __Anonymous functions__, there are one line functions and works for simple expressions.

```
lambda arguments : expression

or

lambda arguments : value_to_return if condition else value_to_return
```

In [73]:
# basic function syntax

def square(num):
    return num ** 2

square(5)

25

In [72]:
# using lambda
(lambda x : x ** 2)(5)

25

In [74]:
(lambda x,y : x * y)(5,2)

10

__lamba function__ by default do not have a name but we can store it in a variable and call it

##### using conditional statement with lambda
always use both if and else

In [98]:
# lets return the greater number between two digit
is_greater = lambda x,y : x if x > y  else y

In [99]:
is_greater(99,9)

99

In [101]:
is_greater(0,-1)

0

In [103]:
is_greater(0.0000000000000011,0.000000000000000001)

1.1e-15

The outstanding characteristics of __lambda__ is their ability to make other functions more modular

In [90]:
def multiply(n):
    return lambda x : x * n

In [96]:
by_two = multiply(2)
by_two(3)

6

In [95]:
by_nine = multiply_by(9)
by_nine(10)

90