# WEB SCRAPING WITH PANDAS

Web scraping with pandas is quite restricted and simple.

We can only extract tables, specifically HTML tables from the web

In [18]:
# import the pandas library as pd
import pandas as pd

In [19]:
# read the html on the provided url
flower = pd.read_html('https://en.wikipedia.org/wiki/List_of_plants_with_symbolism')

In [20]:
# check our output
flower

[    0                                                  1
 0 NaN  This article includes a list of general refere...,
                    0                                                  1  \
 0              Plant                                            Meaning
 1  Asparagus foliage                                        Fascination
 2             Bamboo                     Longevity, strength, and grace
 3       Green willow                                         False love
 4          Mistletoe  Used to signify a meeting place where no viole...
 5  Maple Tree/leaves             balance, love, longevity and abundance

                    2
 0  Region or culture
 1             Europe
 2              China
 3            Britain
 4             Druids
 5            Various  ,
                                                      0  \
 0    Flower Meaning Acacia rose or white Secret Lov...
 1                                               Flower
 2                                               Acacia
 3                                               Acacia
 4                                          Abatina [1]
 ..                                                 ...
 287                                          Wolfsbane
 288                                           Wormwood
 289                                             Yarrow
 290                                        Ylang-Ylang
 291                                             Zinnia

                                                      1  \
 0    Flower Meaning Ivy Dependence, endurance, fait...
 1                                               Flower
 2                                        rose or white
 3                                               yellow
 4                                          Abatina [1]
 ..                                                 ...
 287                                          Wolfsbane
 288                                           Wormwood
 289                                             Yarrow
 290                                        Ylang-Ylang
 291                                             Zinnia

                                                      2
 0                                                  NaN
 1                                              Meaning
 2                                          Secret Love
 3                                             Elegance
 4                                        Fickleness[2]
 ..                                                 ...
 287                                        Misanthropy
 288                             Absence, bitter sorrow
 289                               Healing, inspiration
 290                                  Never-ending love
 291  Thinking of you; remembering absent friends, s...

 [292 rows x 3 columns],
           Flower       Flower.1                    Meaning
 0         Acacia  rose or white                Secret Love
 1         Acacia         yellow                   Elegance
 2    Abatina [1]    Abatina [1]              Fickleness[2]
 3       Acanthus       Acanthus  Art, Immortality, Rebirth
 4      Agrimonia      Agrimonia    Thankfulness, gratitude
 ..           ...            ...                        ...
 141         Iris        general       Eloquence, good news
 142         Iris           blue                Faith, hope
 143         Iris         purple        Wisdom, compliments
 144         Iris         yellow                    Passion
 145         Iris          white                     Purity

 [146 rows x 3 columns],
                 Flower           Flower.1  \
 0                  Ivy                Ivy
 1              Jasmine            Jasmine
 2              Jonquil            Jonquil
 3    Kerria 棣棠 Dì táng  Kerria 棣棠 Dì táng
 4             Larkspur           Larkspur
 ..                 ...                ...
 138          Wolfsbane          Wolfsbane
 139           Wormwood           Wormwood
 140             Yarrow             Yarrow
 141        Ylang-Ylang        Ylang-Ylang
 142             Zinnia             Zinnia

                                                Meaning
 0                  Dependence, endurance, faithfulness
 1    Unconditional and eternal love, monetary wealt...
 2                                  Return my affection
 3                (China) Royalty, Nobility of heart[8]
 4           Levity, lightness; fickleness, haughtiness
 ..                                                 ...
 138                                        Misanthropy
 139                             Absence, bitter sorrow
 140                               Healing, inspiration
 141                                  Never-ending love
 142  Thinking of you; remembering absent friends, s...

 [143 rows x 3 columns],
   Authority control databases  \
 0               International
 1                    National
 2                       Other

                        Authority control databases.1
 0                                               FAST
 1  Spain France BnF data Germany Israel United St...
 2                                              IdRef  ]

In [21]:
# view all the tables wjile assigning their index to know the excat table to extract
for idx,val in enumerate(flower):
    print('*' * 100)
    print('====>',idx)
    print(val)

****************************************************************************************************
====> 0
    0                                                  1
0 NaN  This article includes a list of general refere...
****************************************************************************************************
====> 1
                   0                                                  1  \
0              Plant                                            Meaning
1  Asparagus foliage                                        Fascination
2             Bamboo                     Longevity, strength, and grace
3       Green willow                                         False love
4          Mistletoe  Used to signify a meeting place where no viole...
5  Maple Tree/leaves             balance, love, longevity and abundance

                   2
0  Region or culture
1             Europe
2              China
3            Britain
4             Druids
5            Various
****************************************************************************************************
====> 2
                                                     0  \
0    Flower Meaning Acacia rose or white Secret Lov...
1                                               Flower
2                                               Acacia
3                                               Acacia
4                                          Abatina [1]
..                                                 ...
287                                          Wolfsbane
288                                           Wormwood
289                                             Yarrow
290                                        Ylang-Ylang
291                                             Zinnia

                                                     1  \
0    Flower Meaning Ivy Dependence, endurance, fait...
1                                               Flower
2                                        rose or white
3                                               yellow
4                                          Abatina [1]
..                                                 ...
287                                          Wolfsbane
288                                           Wormwood
289                                             Yarrow
290                                        Ylang-Ylang
291                                             Zinnia

                                                     2
0                                                  NaN
1                                              Meaning
2                                          Secret Love
3                                             Elegance
4                                        Fickleness[2]
..                                                 ...
287                                        Misanthropy
288                             Absence, bitter sorrow
289                               Healing, inspiration
290                                  Never-ending love
291  Thinking of you; remembering absent friends, s...

[292 rows x 3 columns]
****************************************************************************************************
====> 3
          Flower       Flower.1                    Meaning
0         Acacia  rose or white                Secret Love
1         Acacia         yellow                   Elegance
2    Abatina [1]    Abatina [1]              Fickleness[2]
3       Acanthus       Acanthus  Art, Immortality, Rebirth
4      Agrimonia      Agrimonia    Thankfulness, gratitude
..           ...            ...                        ...
141         Iris        general       Eloquence, good news
142         Iris           blue                Faith, hope
143         Iris         purple        Wisdom, compliments
144         Iris         yellow                    Passion
145         Iris          white                     Purity

[146 rows x 3 columns]
****************************************************************************************************
====> 4
                Flower           Flower.1  \
0                  Ivy                Ivy
1              Jasmine            Jasmine
2              Jonquil            Jonquil
3    Kerria 棣棠 Dì táng  Kerria 棣棠 Dì táng
4             Larkspur           Larkspur
..                 ...                ...
138          Wolfsbane          Wolfsbane
139           Wormwood           Wormwood
140             Yarrow             Yarrow
141        Ylang-Ylang        Ylang-Ylang
142             Zinnia             Zinnia

                                               Meaning
0                  Dependence, endurance, faithfulness
1    Unconditional and eternal love, monetary wealt...
2                                  Return my affection
3                (China) Royalty, Nobility of heart[8]
4           Levity, lightness; fickleness, haughtiness
..                                                 ...
138                                        Misanthropy
139                             Absence, bitter sorrow
140                               Healing, inspiration
141                                  Never-ending love
142  Thinking of you; remembering absent friends, s...

[143 rows x 3 columns]
****************************************************************************************************
====> 5
  Authority control databases  \
0               International
1                    National
2                       Other

                       Authority control databases.1
0                                               FAST
1  Spain France BnF data Germany Israel United St...
2                                              IdRef

In [28]:
# there are six tables
len(flower)

6

In [22]:
# we wont be using index 0
flower[0]

    0                                                  1
0 NaN  This article includes a list of general refere...

In [29]:
flower[1] # this table contains plant and not specifically flower
# we rename the variable for better understanding
plant = flower[1]
plant

,0,1,2
0,Plant,Meaning,Region or culture
1,Asparagus foliage,Fascination,Europe
2,Bamboo,"Longevity, strength, and grace",China
3,Green willow,False love,Britain
4,Mistletoe,Used to signify a meeting place where no viole...,Druids
5,Maple Tree/leaves,"balance, love, longevity and abundance",Various

We would be using __row 1__ as our table head

### we have extracted our table, why dont we clean it

From the table above, we notice the columns head named as 0,1,2 while the correct column names is in row 1

#### we use __iloc__ to extract just row 1 to a Series

In [44]:
plant.iloc[0]

Plant                            Plant
Meaning                        Meaning
Region or culture    Region or culture
Name: 0, dtype: object

#### we then extract their values from the series to a numpy array

In [45]:
type(plant.iloc[0].values)

numpy.ndarray

#### convert array to list type

In [32]:
plant.iloc[0].values.tolist()

['Plant', 'Meaning', 'Region or culture']

In [46]:
# assign it to new_plant_column
new_plant_column = plant.iloc[0].values.tolist()

In [47]:
# assign the new column names to column heads
plant.columns = new_plant_column

In [48]:
plant

,Plant,Meaning,Region or culture
0,Plant,Meaning,Region or culture
1,Asparagus foliage,Fascination,Europe
2,Bamboo,"Longevity, strength, and grace",China
3,Green willow,False love,Britain
4,Mistletoe,Used to signify a meeting place where no viole...,Druids
5,Maple Tree/leaves,"balance, love, longevity and abundance",Various

In [50]:
flower[2]

,0,1,2
0,Flower Meaning Acacia rose or white Secret Lov...,"Flower Meaning Ivy Dependence, endurance, fait...",NaN
1,Flower,Flower,Meaning
2,Acacia,rose or white,Secret Love
3,Acacia,yellow,Elegance
4,Abatina [1],Abatina [1],Fickleness[2]
...,...,...,...
287,Wolfsbane,Wolfsbane,Misanthropy
288,Wormwood,Wormwood,"Absence, bitter sorrow"
289,Yarrow,Yarrow,"Healing, inspiration"
290,Ylang-Ylang,Ylang-Ylang,Never-ending love
291,Zinnia,Zinnia,"Thinking of you; remembering absent friends, s..."

### for the above table, we notice the correct column names in the second row row[1]

In [53]:
# we can go ahead to repeat same procedure
flowers.columns = flowers.iloc[1].values.tolist()

#### we would be removing the first two rows because we do not need them

In [65]:
flowers = flowers.drop([0,1], axis=0)
flowers

,Flower,Flower,Meaning
2,Acacia,rose or white,Secret Love
3,Acacia,yellow,Elegance
4,Abatina [1],Abatina [1],Fickleness[2]
5,Acanthus,Acanthus,"Art, Immortality, Rebirth"
6,Agrimonia,Agrimonia,"Thankfulness, gratitude"
...,...,...,...
287,Wolfsbane,Wolfsbane,Misanthropy
288,Wormwood,Wormwood,"Absence, bitter sorrow"
289,Yarrow,Yarrow,"Healing, inspiration"
290,Ylang-Ylang,Ylang-Ylang,Never-ending love
291,Zinnia,Zinnia,"Thinking of you; remembering absent friends, s..."

#### At the end of the this course

- we import the pandas library
- we extracted table from the given url
- we loop through each table to understand and know the needed table for our goal
- we extracted a table for plant and flower
- we rename the column
- we remove or drop useless or wrong data from our table
- we further clean our values to remove unnessary values like [9]
- we export our files