### SQL 

SQL means structured query language which is a standard language for accessing and manipulating database.

##### What can SQL do?

- To query database
- To manipulated database
- To insert, delete, update to and from database
- Create database
- view and restrict database

#### Most common used syntax

`SELECT`
`UPDATE`
`FROM`
`DELETE`
`WHERE`
`INSERT`

In [1]:
!pip install google-cloud-bigquery

Requirement already satisfied: google-cloud-bigquery in /home/onscript/anaconda3/lib/python3.11/site-packages (3.18.0)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in /home/onscript/anaconda3/lib/python3.11/site-packages (from google-cloud-bigquery) (2.17.1)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.6.0 in /home/onscript/anaconda3/lib/python3.11/site-packages (from google-cloud-bigquery) (2.4.1)
Requirement already satisfied: google-resumable-media<3.0dev,>=0.6.0 in /home/onscript/anaconda3/lib/python3.11/site-packages (from google-cloud-bigquery) (2.7.0)
Requirement already satisfied: packaging>=20.0.0 in /home/onscript/anaconda3/lib/python3.11/site-packages (from google-cloud-bigquery) (23.1)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in /home/onscript/anaconda3/lib/python3.11/site-packages (from google-cloud-bigquery) (2.9.0.post0)
Requirement already satisfied: requests<3.0.0dev,>=2.21.0 in /home/onscript/anaconda3/lib/python3.11/site-packages (from google-cloud-bigquery) (2.31.0)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in /home/onscript/anaconda3/lib/python3.11/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (1.62.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0.dev0,>=3.19.5 in /home/onscript/anaconda3/lib/python3.11/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (4.25.3)
Requirement already satisfied: google-auth<3.0.dev0,>=2.14.1 in /home/onscript/anaconda3/lib/python3.11/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (2.28.1)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /home/onscript/anaconda3/lib/python3.11/site-packages (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery) (1.5.0)
Requirement already satisfied: six>=1.5 in /home/onscript/anaconda3/lib/python3.11/site-packages (from python-dateutil<3.0dev,>=2.7.2->google-cloud-bigquery) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/onscript/anaconda3/lib/python3.11/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /home/onscript/anaconda3/lib/python3.11/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/onscript/anaconda3/lib/python3.11/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /home/onscript/anaconda3/lib/python3.11/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2024.2.2)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /home/onscript/anaconda3/lib/python3.11/site-packages (from google-auth<3.0.dev0,>=2.14.1->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (5.3.3)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /home/onscript/anaconda3/lib/python3.11/site-packages (from google-auth<3.0.dev0,>=2.14.1->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /home/onscript/anaconda3/lib/python3.11/site-packages (from google-auth<3.0.dev0,>=2.14.1->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (4.9)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /home/onscript/anaconda3/lib/python3.11/site-packages (from pyasn1-modules>=0.2.1->google-auth<3.0.dev0,>=2.14.1->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (0.5.1)

In [2]:
from google.cloud import bigquery

##### Client object
Create client object which is useful in retrieving information frim BigQuery datasets

In [3]:
# create a cLient object
client = bigquery.Client()

/home/onscript/anaconda3/lib/python3.11/site-packages/google/auth/_default.py:76: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. See the following page for troubleshooting: https://cloud.google.com/docs/authentication/adc-troubleshooting/user-creds.
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)
/home/onscript/anaconda3/lib/python3.11/site-packages/google/auth/_default.py:76: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. See the following page for troubleshooting: https://cloud.google.com/docs/authentication/adc-troubleshooting/user-creds.
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

We would be focusing on __Hacker news website__

In __BIgQuery__, each dataset is contained in a corresponding project.

Our Hacker news dataset is contained in the bigquery-public-data project.

We need to access it

In [4]:
# construct a reference to "hacker news" dataset

dataset_ref =client.dataset("hacker_news", project="bigquery-public-data")
dataset_ref

DatasetReference('bigquery-public-data', 'hacker_news')

In [5]:
# API fetch request
dataset = client.get_dataset(dataset_ref)
dataset

Dataset(DatasetReference('bigquery-public-data', 'hacker_news'))

each dataset is a collection of tables

we need to list them out

In [6]:
# we list the tables in hacker news dataset
tables = list(client.list_tables(dataset))
tables

In [7]:
[table.table_id for table in tables]

['full']

we can now fetch the "full" table dataset

In [8]:
table_ref = dataset_ref.table("full")
table_ref

TableReference(DatasetReference('bigquery-public-data', 'hacker_news'), 'full')

In [9]:
table = client.get_table(table_ref)
table

Table(TableReference(DatasetReference('bigquery-public-data', 'hacker_news'), 'full'))

Lets get our schema, meaning the structure of a table.

We need to understand our table before we pull our data

In [13]:
table.schema

[SchemaField('title', 'STRING', 'NULLABLE', None, 'Story title', (), None),
 SchemaField('url', 'STRING', 'NULLABLE', None, 'Story url', (), None),
 SchemaField('text', 'STRING', 'NULLABLE', None, 'Story or comment text', (), None),
 SchemaField('dead', 'BOOLEAN', 'NULLABLE', None, 'Is dead?', (), None),
 SchemaField('by', 'STRING', 'NULLABLE', None, "The username of the item's author.", (), None),
 SchemaField('score', 'INTEGER', 'NULLABLE', None, 'Story score', (), None),
 SchemaField('time', 'INTEGER', 'NULLABLE', None, 'Unix time', (), None),
 SchemaField('timestamp', 'TIMESTAMP', 'NULLABLE', None, 'Timestamp for the unix time', (), None),
 SchemaField('type', 'STRING', 'NULLABLE', None, 'type of details (comment comment_ranking poll story job pollopt)', (), None),
 SchemaField('id', 'INTEGER', 'NULLABLE', None, "The item's unique id.", (), None),
 SchemaField('parent', 'INTEGER', 'NULLABLE', None, 'Parent comment ID', (), None),
 SchemaField('descendants', 'INTEGER', 'NULLABLE', None, 'Number of story or poll descendants', (), None),
 SchemaField('ranking', 'INTEGER', 'NULLABLE', None, 'Comment ranking', (), None),
 SchemaField('deleted', 'BOOLEAN', 'NULLABLE', None, 'Is deleted?', (), None)]

A __SchemaField__ tells us the information about a specific column (field).

This gives us 

- name of column
- data type (field type)
- mode (NULLABLE means columns allows NULL values)
- description of the data

Let iterate the row to confirm if the dataset is right for us

In [12]:
client.list_rows(table, max_results=5).to_dataframe()

,title,url,text,dead,by,score,time,timestamp,type,id,parent,descendants,ranking,deleted
0,None,None,"If the crocodile looked him up on Google, we b...",<NA>,raxxorrax,<NA>,1633421535,2021-10-05 08:12:15+00:00,comment,28756662,28750122,<NA>,<NA>,<NA>
1,None,None,What exactly are you looking for? I think Pyto...,<NA>,abiro,<NA>,1569141387,2019-09-22 08:36:27+00:00,comment,21040311,21040141,<NA>,<NA>,<NA>
2,None,None,"Ironically, this very project might help out w...",<NA>,mjevans,<NA>,1505769703,2017-09-18 21:21:43+00:00,comment,15279716,15276626,<NA>,<NA>,<NA>
3,None,None,As you start to gain some experience it can be...,<NA>,every_other,<NA>,1538575027,2018-10-03 13:57:07+00:00,comment,18130207,18128477,<NA>,<NA>,<NA>
4,None,None,"That’s what I was referring to, yes. I heard o...",<NA>,manmal,<NA>,1615664155,2021-03-13 19:35:55+00:00,comment,26449260,26449237,<NA>,<NA>,<NA>

In [16]:
(3.5 * 1024) - ((3.5 * 1024) * 0.63)

1326.08

#### Did you know

Positive latitudes correspond to the northern hemisphere, and positive longitudes correspond to the eastern hemisphere. Since North America is north of the equator and west of the prime meridian, all of the cities in the list have positive latitudes and negative longitudes.